<%= form_for(@course) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="form-group">
    <%= f.label :course_id, "Course ID" %>
    <%= f.text_field :course_id, class: "form-control", required: true, 
      readonly: controller.action_name.eql?("show"),
      pattern: "^[0-9A-Za-z\-]+$", maxlength: 20, placeholder: "course_id" 
    %>
    <% unless controller.action_name.eql?("show") %>
      <small class="text-info">Alphanumeric and dash, within 20 characters</small>
    <% end %>
    <% @course.errors.full_messages_for(:course_id).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :course_title, "Course Title" %>
    <%= f.text_field :course_title, class: "form-control", required: true, maxlength: 50, placeholder: "course_title" %>
    <small class="text-info">Within 50 characters</small>
    <% @course.errors.full_messages_for(:course_title).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :topic, "Topic" %>
    <%= f.text_field :topic, class: "form-control", maxlength: 100, placeholder: "topic" %>
    <small class="text-info">Within 100 characters</small>
    <% @course.errors.full_messages_for(:topic).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :day_length, "Day" %>
    <%= f.number_field :day_length, class: "form-control", required: true, min: 1, max: 7, placeholder: "day_length" %>
    <small class="text-info">1-7</small>
    <% @course.errors.full_messages_for(:day_length).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Price" %>
    <%= f.number_field :price, class: "form-control", required: true, min: 0, max: 999999, placeholder: "price" %>
    <small class="text-info">0-999999</small>
    <% @course.errors.full_messages_for(:price).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :level_id, "Level" %>
    <%= f.number_field :level_id, class: "form-control", required: true, min: 1, max: 5, placeholder: "level_id" %>
    <small class="text-info">1-5</small>
    <% @course.errors.full_messages_for(:level_id).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :category, "Category" %>
    <%= f.text_field :category, class: "form-control", required: true, pattern: "^[0-9A-Za-z]+$", maxlength: 40, placeholder: "category" %>
    <small class="text-info">Alphanumeric, within 40 characters</small>
    <% @course.errors.full_messages_for(:category).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>