<div class="container">
  <h1>Delete a course</h1>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">ID</th>
        <td><%= @course.course_id %></td>
      </tr>
      <tr>
        <th scope="row">Title</th>
        <td><%= @course.course_title %></td>
      </tr>
      <tr>
        <th scope="row">Topic</th>
        <td><%= @course.topic %></td>
      </tr>
      <tr>
        <th scope="row">Day</th>
        <td><%= @course.day_length %></td>
      </tr>
      <tr>
        <th scope="row">Price</th>
        <td><%= @course.price %></td>
      </tr>
      <tr>
        <th scope="row">Level</th>
        <td><%= @course.level_id %></td>
      </tr>
      <tr>
        <th scope="row">Category</th>
        <td><%= @course.category %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "delete", @course, method: :delete, class: "btn btn-danger",
    data: { confirm: "Are you sure?" }
  %>
</div>