<% provide(:title, "Search") %>
<div class="container">
  <h1>Search results</h1>
  <% if @courses.length > 1 %>
    <p><%= @courses.length %> rows found.</p>
    <table id="course_table" class="tablesorter">
      <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Topic</th>
        <th>Day</th>
        <th>Price</th>
        <th>Level</th>
        <th>Category</th>
      </thead>
      <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.course_id, course_show_path(id: course.course_id) %></td>
          <td><%= course.course_title %></td>
          <td><%= course.topic %></td>
          <td><%= course.day_length %></td>
          <td><%= course.price %></td>
          <td><%= course.level_id %></td>
          <td><%= course.category %></td>
        </tr>
      <% end %>
    </table>
  <% elsif @courses.length == 0 %>
    <p class="text-danger">No rows found.</p>
    <p><%= link_to "Back to top", root_path %></p>
  <% end %>
</div>

<script>
  $(() => {
    $("#course_table").tablesorter(); 
  });
</script>