<h1>single course</h1>
<%= link_to "delete this course ? ...", course_delete_path(id: @course.course_id) %>

<%= form_for(@course) do |f| %>
  <table>
    <tr>
      <th>
        course_id
      </th>
      <td>
        <%= @course.course_id %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :course_title, "course_title" %>
      </th>
      <td>
        <%= f.text_field :course_title, required: true, maxlength: 50 %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :topic, "topic" %>
      </th>
      <td>
        <%= f.text_field :topic, maxlength: 100 %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :day_length, "day_length" %>
      </th>
      <td>
        <%= f.number_field :day_length, required: true, min: 1, max: 7 %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :price, "price" %>
      </th>
      <td>
        <%= f.number_field :price, required: true, min: 0, max: 999999 %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :level_id, "level_id" %>
      </th>
      <td>
        <%= f.number_field :level_id, required: true, min: 1, max: 5 %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :category, "category" %>
      </th>
      <td>
        <%= f.text_field :category, required: true, pattern: "^[0-9A-Za-z]+$", maxlength: 40 %>
      </td>
    </tr>
  </table>
  <%= f.submit "submit" %>
<% end %>
