<!DOCTYPE html>
<html>
  <head>
    <title>TrainingDbWebapp</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>

    <%= stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/css/theme.default.min.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js" %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
