<!DOCTYPE html>
<html>
  <head>
    <title>TrainingDbWebapp</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
